.green-button {
	color: white;
	text-transform: uppercase;
	font-family: 'Dupla', sans-serif;
	font-size: 24px;
	width: 227px;
	padding: 15px 56px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	background: #74c044;
	display: block;

}/*green-button*/