#section-7 {
	padding: 85px 15% 70px;
	text-align: center;

	h2 {
		color: #99a7af;

	}/*h2*/

	.h2-light {
		color: white;

	}/*h2-light*/

	.goldilocks {
		padding: 50px 0;

	}/*goldilocks*/
	p {
		color: white;
		padding: 0 10% 40px;

	}/*p*/

	.green-button {
		margin: 5px auto;

	}/*green-button*/

	.review {

		h6 {
			color: white;
		}/*h6*/

		p {
			padding: 20px 0;

		}/*p*/
	}/*review*/
}/*section-7*/