#section-5 {
	padding: 120px 15% 85px;
	text-align: center;

	h2 {
		color: white;

	}/*h2*/

	.pie-chart {
		padding: 82px 3% 63px;
		width: 35%;
		display: inline-block;
		vertical-align: top;

	}/*pie-chart*/

	.pie-chart-text {
		padding: 82px 5% 63px;;
		width: 45%;
		display: inline-block;
		vertical-align: top;
		text-align: left;

	}/*pie-chart-text*/

	h3 {
		font-family: Dupla Bold, sans-serif;
		font-size: 36px;
		color: #99a7af;
		line-height: 44px;
		text-align: left;
		padding: 20px 0 60px;

	}/*h3*/

	.light {
		color: white;
		font-family: Dupla, sans-serif;

	}/*light*/

	.review {
		p {
			color: white;
			padding: 20px 10% 25px;

		}/*p*/

		h6 {
			color: white;

		}/*h6*/
	}/*review*/
}/*section-5*/